h2 {
	color: green;
}

a {
	color: black;
}

body {
    opacity: 1;
    transition: 2s opacity;
    font-family: 'Lato';
}
body.fade-out {
    opacity: 0;
    transition: none;
}

h1 {
	font-size: 60px;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	margin-top: 10%;
}

footer .studio-footer {

}

#welcome {
	margin-top: 150px;
}

.welcome-page {
	position: relative;
	margin-left: 9%;
}

.responsive-image {
    height: 75%; 
	width: 33%; 
	margin-top: 10%;
}

.navcolumn {
	/* height: 100vh; */
}

.enter-btn {
	background-color: white;
	border-width: 1px;
	border-top-style: solid;
	border-color: grey;
	margin-top: 2%;
}

#page-logo {
	margin-bottom: 10%;
}

#navbar {
	font-size: 18px;
	padding-left: 22px;
}

#contactTitle {
	padding-left: 50px;
}

#insideTitle {
	margin: 3% 8% 0% 7%;
	border-width: 1px;
	border-style: solid;
	border-color: grey;
}

#contactForm {
	padding-left: 15px;
	padding-bottom: 23px;
}

#homeImg {
	margin-left: 55px;
}

#aboutStuff {
	margin-left: 55px;
}

#studioStuff {
	margin-left: 45px;
}

@media screen and (max-width: 991px) {
	
	body {
		text-align: center;
	}

	#nav-options {
		text-align: center;
	}

	#logo {
		text-align: center;
	}

	#last {
		padding-bottom: 10px;
	}

	#navbar {
		border-width: 1px;
	    border-top-style: none;
	    border-right-style: none;
	    border-bottom-style: solid;
		border-left-style: none;
		font-size: 45px;
		padding-left: 0px;
	}

	.responsive-image {
		height: 75%;
		width: 84%;
		margin-top: 46%;
	}

	.navcolumn {
		width: 100%;
		padding-bottom: 15px;
	}

	#meat {
		margin-top: 0;
	}

	#title {
		margin-top: 50px;
	}

	.welcome-page {
		position: relative;
		margin-top: 10%;
		margin-bottom: 5%;
		margin-right: 20%;
		margin-left: 20%;
	}

	#page-logo {
		margin-bottom: 0;
	}

	.enter-btn {
		background-color: white;
		border-width: 1px;
		border-top-style: solid;
		border-color: grey;
		margin-top: 2%;
		font-size: 66px;
	}

	#homeImg {
		margin-left: 0px;
	}

	#aboutStuff {
		margin-left: 0px;
	}

	#studioStuff {
		margin-left: 0px;
	}

}

@media screen and (min-width: 991px) {
	
	.welcome-page {
		position: relative;
		margin-top: 10%;
		margin-bottom: 5%;
		margin-right: 20%;
		margin-left: 20%;
	}

}