h2 {
	color: green;
}

a {
	color: black;
}

body {
    opacity: 1;
    transition: 1.5s opacity;
    font-family: 'Lato';
}
body.fade-out {
    opacity: 0;
    transition: none;
}

h1 {
	font-size: 60px;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}

#welcome {
	margin-top: 150px;
}

.navcolumn {
	height: 100vh;
}

@media screen and (max-width: 768px) {
	
	body {
		text-align: center;
	}

	#nav-options {
		text-align: center;
	}

	#logo {
		text-align: center;
	}

	#last {
		padding-bottom: 10px;
	}

	#navbar {
		border-width: 1px;
	    border-top-style: none;
	    border-right-style: none;
	    border-bottom-style: solid;
	    border-left-style: none;
	}

	#meat {
		margin-top: 50px;
	}

	#title {
		margin-top: 50px;
	}

}